.jumbo{
    background: url('./assets/David.JPG') no-repeat center center fixed;      
    /* Set up proportionate scaling */
    background-size:cover;
    background-position: absolute;
    border-color: black;
    z-index: 0;

}
.first{
    height:50rem;      

}
.shade{
    background-color: #42413C;
    background-size: cover;
    background-position: relative;     
    height:50rem;
    background: rgba(243, 243, 243, 0.9);
}
.move-1{
    color: #42413C;
}
.image{
    height:fit-content;
    width: fit-content;
}
.cover-img{
    background-color: hsla(0, 0%, 98%, 0.2);
}
.download:hover{
    color: #3B71CA;
}
.move{
    transition: transform .2s; /* Animation */
}

.move:hover{
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    color: #3B71CA;
}