.jumbo{
    background: url('./assets/David.JPG') no-repeat center center  ;      
    /* Set up proportionate scaling */
    background-size:cover;
    height:50rem;      
    border-color: black;

}